<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="margin:0">
    <div class="">
      <div id="top" style="color: white; background-color: #283d23; height: 100px;">
        <div class="" style="float: left">
          <img src="https://media.discordapp.net/attachments/697564908694274118/756683479118250095/image0.jpg" alt="" style="height:50px; margin: 25px;">
        </div>
        <div class="" style="float: right; margin-right: 10px">
          <p>fecha de compra: <br>
            total:
          </p>
        </div>
      </div>

      <div id="main" class="" style="">
        <div id="name" class="" style="display: flex; width:100%; justify-content:center">
          <h2 style="color: black">
              Jorge Garcia
          </h2>
        </div>

        <div id="qr" class="" style="display: flex; width: 100%; justify-content: center">
          <img src="https://media.discordapp.net/attachments/697564908694274118/756683479118250095/image0.jpg" alt="" style="height:150px; margin: auto;">
        </div>

        <div id="date" class="" style="display: flex; width: 100%; justify-content: center">
          <h3 style="color: black">
            SAB 11 AGOSTO 2020, 9:00 A.M.
          </h3>
        </div>

        <div id="details" class="" style="display: flex; width: 100%; justify-content: center">
          <div id="area" class="" style="margin: 5px 10px">
            <h4>AREA<br>
              1
            </h4>
          </div>
          <div id="personas" class="" style="margin: 5px 10px">
            <h4>PERSONAS<br>
              1 Adulto Mayor<br>
              1 Adulto<br>
              3 niños
            </h4>
          </div>
          <div id="vehiculo" class="" style="margin: 5px 10px">
            <h4>VEHICULO<br>
              Ford Escape 2007<br>
              1234567
            </h4>
          </div>
          <div id="actividad" class="" style="margin: 5px 10px">
            <h4>ACTIVIDAD<br>
              Acampar
            </h4>
          </div>
        </div>
      </div>

      <div id="footer" class="" style="display: flex; width: 100%; justify-content: center">
        <p style="margin: 5px auto">123-456-7890</p>
        <p style="margin: 5px auto">correo@contacto.com</p>
      </div>


    </div>
  </body>
</html>
